@import "./variables";

.mailPopUpLayer {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: red;
  // border: 2px solid red;

  &.addCategory {
    .popUpBox {
      // border: 2px solid red;
      height: fit-content;
      max-height: 80vh;
      width: 50%;
      overflow: auto;
    }
  }

  .popUpBox {
    // border: 2px solid red;
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    width: 70vw;
    height: 80vh;
    color: black;
    overflow: auto;

    &.mailSentPopUpBox {
      height: 200px;
      width: 500px;
      display: flex;
      justify-content: center;
    }

    ion-icon {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 25px;
      cursor: pointer;
    }

    .popuptitle {
      font-size: 25px;
      font-weight: 500;
      color: black;
      align-self: center;
    }

    .confirmationMessage {
      font-size: 20px;
      font-weight: 300;
    }

    .btn-container {
      display: flex;
      gap: 10px;
    }

    form {
      // border: 2px solid red;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      // margin-top: 100px;
      width: 90%;
      height: fit-content;

      label {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 5px;
        margin-top: 15px;

        span {
          color: red;
          font-size: 16px;
        }
      }

      input,
      textarea,
      select {
        width: 100%;
        border: 2px solid red;
        padding: 8px;
        border-radius: 5px;
        font-size: 16px;
        color: black;
        background: $secondary;
        border: none;
        resize: none;
        outline: none;
      }

      textarea {
        height: 100px;
      }

      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px $secondary inset !important;
      }

      input:-webkit-autofill {
        -webkit-text-fill-color: black !important;
      }
      .previewImages {
        img {
          height: 30px;
          width: 30px;
        }
      }
      video {
        height: 100px;
        width: 100px;
      }
      .msg {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.8);
        margin-top: 20px;
      }
      .errMsg {
        font-size: 12px;
        color: red;
        margin-top: 20px;
        align-self: center;
      }
    }
    button {
      margin-top: 10px;
      font-size: 16px;
      align-self: center;
    }
  }
}

.titleHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  h2 {
    font-weight: 500;
    font-size: 24px;
    color: black;
  }
}

.adminMainContent {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;

  .right {
    background-color: rgb(198, 198, 198);
    width: 100%;
    height: 100%;
    padding-left: 220px;
    padding-top: 95px;
    color: black;
  }

  .adminSide {
    width: 200px;
    background-color: $mainBg;
    background-color: black;

    // height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 80px;
    // top: 120px;
    z-index: 5;
    // border: 2px solid red;
    color: black;

    .menus {
      // border: 2px solid red;
      width: 100%;
      height: calc(100vh - 80px);
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .topMenus,
      .bottomMenus {
        overflow: auto;
        list-style: none;
        overflow: hidden;
        // border: 2px solid red;
        margin-bottom: 10px;
        font-weight: 300;

        .link {
          // border: 2px solid red;
          width: fit-content;
          justify-content: center;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          color: $secondary;
          text-decoration: none;
          font-size: 16px;
          border-radius: 5px;
          cursor: pointer;
          transition: color 0.3s linear;
          padding: 8px;

          &:hover {
            color: $fontcolor;
            text-decoration: underline;
          }

          &.menuActive {
            color: $fontcolor;
            background-color: $mainBg;
            &:hover {
              text-decoration: none;
            }
          }

          ion-icon {
            margin-right: 10px;
            font-size: 20px;
          }
        }
      }
    }
  }

  button {
    outline: none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 100px $mainBg inset !important;
  }

  input:-webkit-autofill {
    -webkit-text-fill-color: black !important;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  .adminSettings {
    padding-right: 20px;
    overflow-y: auto;
    // border: 2px solid red;
    padding-bottom: 50px;
    overflow-x: hidden;

    .form {
      // border: 2px solid red;
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      width: 1000px;
      margin-left: 0px;

      .fieldTitle {
        font-weight: 300;
        font-size: 20px;
        margin-bottom: 8px;

        span {
          color: red;
        }
      }

      .formField {
        display: flex;
        // border: 2px solid red;
        flex-direction: column;
        margin-bottom: 20px;

        .dateBox {
          display: flex;
          width: 100%;
          // border: 2px solid red;
          justify-content: space-between;

          .subFormField {
            // border: 2px solid red;
            display: flex;
            flex-direction: column;
            width: 45%;

            input[type="text"],
            input[type="number"] {
              width: 100%;
            }

            label {
              font-weight: 300;
              font-size: 20px;
              margin-bottom: 8px;

              span {
                color: red;
              }
            }
          }
        }

        input[type="text"],
        input[type="email"] {
          background: none;
          outline: none;
          padding: 8px 10px;
          border: 1px solid $fontcolor;
          background: $fontcolor;
          width: 45%;
          border-radius: 5px;
          color: black;
          font-size: 16px;

          &::placeholder {
            color: black;
            opacity: 0.7;
            font-weight: 0;
          }
        }

        ::-webkit-calendar-picker-indicator {
          filter: invert(1);
        }

        label {
          font-size: 16px;
          margin-bottom: 8px;
        }

        .fieldTitle {
          font-weight: 300;
          font-size: 18px;
          margin-bottom: 8px;
        }
      }
    }
    .form2 {
      // border: 2px solid red;
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      width: 1000px;
      margin-left: 0px;

      .fieldTitle {
        font-weight: 300;
        font-size: 25px;
        margin-bottom: 20px;

        span {
          color: red;
        }
      }

      .formField {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        .dateBox {
          display: flex;
          width: 100%;
          // border: 2px solid red;
          justify-content: space-between;

          .subFormField {
            // border: 2px solid red;
            display: flex;
            flex-direction: column;
            width: 30%;

            input {
              background: none;
              outline: none;
              padding: 8px 10px;
              border: 1px solid $fontcolor;
              background: $fontcolor;
              width: 100%;
              border-radius: 5px;
              color: black;
              font-size: 16px;

              &::placeholder {
                color: black;
                opacity: 0.7;
                font-weight: 0;
              }
            }

            label {
              font-weight: 300;
              font-size: 20px;
              margin-bottom: 8px;

              span {
                color: red;
              }
            }
          }
        }

        ::-webkit-calendar-picker-indicator {
          filter: invert(1);
        }

        label {
          font-size: 16px;
          margin-bottom: 8px;
        }

        .fieldTitle {
          font-weight: 300;
          font-size: 18px;
          margin-bottom: 8px;
        }
      }

      .submit {
        width: fit-content;
        font-size: 16px;
      }
    }
    .submit {
      width: fit-content;
      font-size: 16px;
    }
  }

  .adminCategory {
    padding-right: 50px;
    overflow-y: auto;
    // border: 2px solid red;
    padding-bottom: 50px;
    overflow-x: hidden;

    .categoryContainer {
      // border: 2px solid red;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 30px;

      .categoryBox {
        border: 1px solid $mainBg;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;

        .imgBox {
          height: 150px;
          width: 150px;
          border-radius: 100%;
          overflow: hidden;
          position: relative;

          .categoryImage {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: all 0.2s ease;

            &:hover {
              transform: scale(1.1);
            }
          }
        }
        .categoryTitle {
          font-weight: 500;
          color: $mainBg;
          transition: all 0.2s ease;
        }
        .actionBtns {
          display: flex;
          gap: 10px;

          button {
            font-size: 16px;
            border-radius: 100%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 7px;
            cursor: pointer;
            transition: all 0.3s ease;

            &.edit {
              border: 2px solid $mainBg;
              background-color: $mainBg;
              color: $fontcolor;
              &:hover {
                background-color: $fontcolor;
                color: $mainBg;
              }
            }
            &.delete {
              border: 2px solid red;
              background-color: red;
              color: $fontcolor;
              &:hover {
                background-color: $fontcolor;
                color: red;
              }
            }
          }
        }
      }
    }
  }

  .AdminProducts {
    padding-right: 50px;
    overflow-y: auto;
    padding-bottom: 50px;
    overflow-x: hidden;

    // .productsContainer {
    //   // border: 2px solid red;
    //   display: flex;
    //   align-items: center;
    //   justify-content: flex-start;
    //   flex-wrap: wrap;
    //   gap: 30px;

    //   .jewellery-card {
    //     border: 1px solid rgba($color: $mainBg, $alpha: 0.75);
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: flex-start;
    //     border-radius: 5px;
    //     width: 225px;
    //     overflow: hidden;
    //     height: 320px;
    //     cursor: pointer;

    //     .imgBox {
    //       height: 170px;
    //       width: 225px;
    //       overflow: hidden;
    //       border-radius: 5px 5px 0 0;
    //       // border: 2px solid red;

    //       .jewellery-image {
    //         height: 100%;
    //         width: 100%;
    //         object-fit: cover;
    //         transition: all 0.2s ease;

    //         &:hover {
    //           transform: scale(1.1);
    //         }
    //       }
    //     }

    //     .card-details {
    //       padding: 10px;
    //       display: flex;
    //       flex-direction: column;
    //       align-items: center;
    //       justify-content: space-between;
    //       height: 130px;
    //       gap: 5px;

    //       .jewellery-title {
    //         font-weight: 500;
    //         color: $mainBg;
    //         text-align: center;
    //         font-size: 18px;
    //         text-wrap: nowrap;
    //         text-overflow: ellipsis;
    //         overflow: hidden;
    //         width: 200px;

    //         &:hover {
    //           text-decoration: underline;
    //         }
    //       }
    //       .jewellery-description {
    //         font-weight: 300;
    //         color: rgba($color: $mainBg, $alpha: 0.75);
    //         font-size: 14px;
    //         text-align: center;
    //         display: -webkit-box;
    //         -webkit-line-clamp: 2;
    //         -webkit-box-orient: vertical;
    //         overflow: hidden;
    //       }
    //       .material-container {
    //         // border: 2px solid red;
    //         display: flex;
    //         list-style: none;
    //         justify-content: center;
    //         gap: 5px;
    //         margin: 5px 0;

    //         .material {
    //           height: 25px;
    //           width: 25px;
    //           // border: 2px solid red;
    //           border-radius: 50%;

    //           &.gold {
    //             background: linear-gradient(
    //               30deg,
    //               #e1b94f 0,
    //               #fcf1d5 55%,
    //               #fcf1d5 60%,
    //               #e1b94f 100%
    //             ) !important;
    //           }
    //           &.rosegold {
    //             background: linear-gradient(
    //               30deg,
    //               #ec8a55 0,
    //               #fcede2 55%,
    //               #fcede2 60%,
    //               #ec8a55 100%
    //             ) !important;
    //           }
    //           &.whitegold,
    //           &.silver {
    //             background: linear-gradient(
    //               30deg,
    //               #b3b2af 0,
    //               #f7f7f7 55%,
    //               #f7f7f7 60%,
    //               #b3b2af 100%
    //             ) !important;
    //           }
    //           &.active {
    //             border: 1px solid $mainBg;
    //           }
    //         }
    //       }
    //       
    //     }
    //   }
    // }
  }
}
