@import "./variables";

.customize-jewellery-component {
  // border: 2px solid red;
  padding: 50px 100px;
  display: flex;
  align-items: center;
  // background-color: rgba($color: $primary, $alpha: 0.05);
  gap: 50px;

  .left {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .title {
      font-size: 32px;
      font-weight: 600;
      color: $darkBlue;
      position: relative;
    }
    .description {
      font-weight: 300;
      color: $black;
      font-size: 16px;
    }
    .learnmore {
      align-self: flex-start;
      padding: 8px 25px;
      margin-top: 10px;
    }
  }
  .right {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    position: relative;

    img {
      height: 400px;
      width: 250px;
      object-fit: cover;
      border-radius: 7px;

      &.small {
        height: auto;
        width: auto;
        position: absolute;
        left: 50px;
      }
    }
  }
}
