@import "./variables";

.explore-product-component {
  background-color: rgba($color: $mainBg, $alpha: 0.05);
  padding: 30px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px - 200px - 120px);

  .subtitle {
    // border: 2px solid red;
    font-weight: 300;
  }

  .searchResultText {
    font-size: 18px;
    // border: 2px solid red;
    width: 100%;

    span {
      font-weight: 500;
    }
  }
}
