@import "./variables";

.faqSection {
  background-color: rgba($color: $darkBlue, $alpha: 0.05);
  width: 100%;
  height: fit-content;
  color: $darkBlue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 100px;
  padding-bottom: 50px;
  position: relative;
  // border: 2px solid red;

  .questionsContainer {
    margin-top: 20px;
    width: 65%;
    details {
      border-bottom: 1px solid rgb(104, 104, 104);
    }

    details summary {
      width: 100%;
      padding: 10px;
      padding-bottom: 0;
      position: relative;
      cursor: pointer;
      font-weight: 300;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      // border: 2px solid red;
    }

    details .que {
      width: 90%;
      position: relative;
      color: $darkBlue;
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;
      list-style: none;
      // border: 2px solid red;
    }

    details .btn {
      font-size: 30px;
      color: $darkBlue;
      padding: 0;
      transform-origin: center;
      transition: all 0.5s ease;
    }

    details .ans {
      color: $black;
      padding: 10px;
      padding-top: 0;
      font-size: 15px;
      width: 90%;
      text-align: left;
      font-weight: 300;
    }

    details[open] summary .btn {
      transform: rotate(45deg);
    }

    details summary {
      outline: 0;
    }

    details summary::-webkit-details-marker {
      display: none;
    }
  }
}

@media screen and (max-width: 1000px) {
  .faqSection {
    padding: 25px 100px;
    padding-bottom: 50px;

    .questionsContainer {
      margin-top: 10px;
      width: 85%;

      details summary {
        padding: 10px;
        padding-bottom: 0;
      }

      details .que {
        font-size: 16px;
      }

      details .btn {
        font-size: 30px;
      }

      details .ans {
        color: $black;
        padding: 10px;
        padding-top: 0;
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .faqSection {
    padding: 25px 20px;
    padding-bottom: 50px;
    min-width: 400px;

    .questionsContainer {
      margin-top: 10px;
      width: 100%;

      details summary {
        padding: 10px;
        padding-bottom: 0;
      }

      details .que {
        font-size: 14px;
        font-weight: 400;
      }

      details .btn {
        font-size: 24px;
      }

      details .ans {
        color: $black;
        padding: 10px;
        padding-top: 3px;
        font-size: 14px;
      }
    }
  }
}
