@import "./variables";

.jewellery-card-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  overflow: auto;
  width: 100%;
  margin-top: 30px;

  .jewellery-card {
    border: 1px solid $lightBg;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    height: fit-content;
    cursor: pointer;

    .imgBox {
      height: 200px;
      width: 100%;
      overflow: hidden;
      border-radius: 5px 5px 0 0;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
      // border: 2px solid red;

      .jewellery-image {
        height: 70%;
        width: 70%;
        object-fit: cover;
        transition: all 0.2s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .card-details {
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: fit-content;
      // border: 2px solid red;
      gap: 5px;

      .jewellery-title {
        font-weight: 500;
        color: $darkBlue;
        text-align: center;
        font-size: 18px;
        text-decoration: none;
        border: 2px solid red;

        span {
          display: block;
          width: 200px;
          overflow: hidden;
          text-wrap: nowrap;
          text-overflow: ellipsis;
        }

        &:hover {
          text-decoration: underline;
        }
      }
      .jewellery-description {
        font-weight: 300;
        color: $black;
        font-size: 14px;
        text-align: center;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .material-container {
        // border: 2px solid red;
        display: flex;
        list-style: none;
        justify-content: center;
        gap: 5px;
        margin: 5px 0;

        .material {
          height: 25px;
          width: 25px;
          // border: 2px solid red;
          border-radius: 50%;

          &.gold {
            background: linear-gradient(
              30deg,
              #e1b94f 0,
              #fcf1d5 55%,
              #fcf1d5 60%,
              #e1b94f 100%
            ) !important;
          }
          &.rosegold {
            background: linear-gradient(
              30deg,
              #ec8a55 0,
              #fcede2 55%,
              #fcede2 60%,
              #ec8a55 100%
            ) !important;
          }
          &.whitegold,
          &.silver {
            background: linear-gradient(
              30deg,
              #b3b2af 0,
              #f7f7f7 55%,
              #f7f7f7 60%,
              #b3b2af 100%
            ) !important;
          }
          &.active {
            border: 1px solid $darkBlue;
          }
        }
      }
      .actionBtns {
        display: flex;
        gap: 10px;

        button {
          font-size: 16px;
          border-radius: 100%;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 7px;
          cursor: pointer;
          transition: all 0.3s ease;

          ion-icon {
            margin: 0;
            font-size: 16px;
          }

          &.edit {
            border: 2px solid $darkBlue;
            background-color: $darkBlue;
            color: $fontcolor;
            &:hover {
              background-color: $fontcolor;
              color: $darkBlue;
            }
          }
          &.delete {
            border: 2px solid red;
            background-color: red;
            color: $fontcolor;
            &:hover {
              background-color: $fontcolor;
              color: red;
            }
          }
        }
      }
      .inquiry-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $lightBtn;
        color: $darkBlue;
        border-radius: 3px;
        padding: 5px 20px;
        font-size: 12px;
        font-weight: 500;
        border: 2px solid $lightBtn;
        cursor: pointer;
        transition: all 0.3s ease;
        margin-top: 5px;
        // border: 1px solid $darkBlue;

        ion-icon {
          font-size: 14px;
          margin-left: 0;
        }

        &:hover {
          background-color: $darkBlue;
          color: $fontcolor;
        }
      }
    }

    &.admin-card {
      width: 100%;

      .imgBox {
        height: 180px;
        width: 100%;
        // border: 2px solid red;
      }

      .card-details {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 5px;

        .jewellery-title {
          font-size: 16px;
        }
        .jewellery-description {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .jewellery-card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1000px) {
  .jewellery-card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
