@import "./variables";

.top-selling-component {
  padding: 25px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $darkBlue;
    gap: 5px;
    margin-top: 20px;
    font-size: 20px;

    &:hover {
      text-decoration: underline;
    }
  }

  .viewmore {
    padding: 8px 30px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 1000px) {
  .top-selling-component {
    padding: 20px 50px;

    > a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $darkBlue;
      gap: 5px;
      margin-top: 20px;
      font-size: 20px;

      &:hover {
        text-decoration: underline;
      }
    }

    .viewmore {
      padding: 8px 30px;
      margin-top: 30px;
    }
  }
}
