// $mainBg: #0d1023;
// $primary: #ba7f32;
// $secondary: #a7aac3;
// // $orange: #038d9f;
// // $orange2: rgba(3, 141, 159, 0.3);
// // $drop: #2b2c33;
// // $input: rgb(12, 12, 12);
// $fontcolor: #f8f9ff;

$mainBg: #2d2d2d;
// $mainBg: #031c19;
$primary: #ba7f32;
$secondary: #a9c4bf;
$newFont2: #545454;
// $orange: #038d9f;
// $orange2: rgba(3, 141, 159, 0.3);
// $drop: #2b2c33;
// $input: rgb(12, 12, 12);
$newBg: #2d2d2d;
$lightBg: #bababa;
$lightBlue: #576186;
$darkBlue: #000825;
$black: #000000;
$white: #ffffff;
$fontcolor: #f8f9ff;
$lightBtn: #ececec;
